<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="EvolutionaryTrainerMain" level="INFO"/>
    <logger name="EvolutionaryTrainer" level="INFO"/>
    <logger name="MatchSimulator" level="DEBUG"/>
    <logger name="FitnessCalculator" level="INFO"/>
</configuration>
